.slider-container {
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  transform: translateY(99%);
  overflow: hidden;
}

.slider-background {
  height: 100%;
  width: 100vw;
  background-repeat: repeat-x;
  background-size: 10vw;
  animation: slider 1s linear infinite;
}

@media (min-width: 768px) {
  .slider-background {
    background-size: 5vw;
  }
}

.slider-background.t-head {
  background-image: url(../asset/img/pattern-top.png);
}

@keyframes slider {
  from {
    background-position: 0 top;
  }
  to {
    background-position: -10vw top;
  }
}
