.slider-container {
  width: 100vw;
  position: absolute;
  right: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
}

.slider-container.t-bottom {
  transform: translateY(99%);
  bottom: 0;
}

.slider-container.t-top {
  transform: translateY(-99%);
  top: 0;
}

.slider-background {
  height: 100%;
  width: 100vw;
  background-repeat: repeat-x;
  background-size: 10vw;
}

.slider-container.t-top .slider-background {
  animation: sliderTop 1s linear infinite;
}

.slider-container.t-bottom .slider-background {
  animation: sliderBottom 1s linear infinite;
}

@media (min-width: 768px) {
  .slider-background {
    background-size: 5vw;
  }
}

.slider-background.t-head {
  background-image: url(../asset/img/pattern-top.png);
}

.slider-background.t-square-top {
  background-image: url(../asset/img/pattern-other-top.png);
}

.slider-background.t-square-bottom {
  background-image: url(../asset/img/pattern-other-bottom.png);
}

@keyframes sliderBottom {
  from {
    background-position: 0 top;
  }
  to {
    background-position: -10vw top;
  }
}

@keyframes sliderTop {
  from {
    background-position: 0 bottom;
  }
  to {
    background-position: -10vw bottom;
  }
}
