@font-face {
  font-family: "Anybody";
  src: url("../asset/fonts/Anybody-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Anybody";
  src: url("../asset/fonts/Anybody-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Anybody";
  src: url("../asset/fonts/Anybody-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: fallback;
}

@font-face {
  font-family: "Anybody";
  src: url("../asset/fonts/Anybody-ExtraLight.woff2") format("woff2");
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "Trispace";
  src: url("../asset/fonts/Trispace-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Trispace";
  src: url("../asset/fonts/Trispace-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "Trispace";
  src: url("../asset/fonts/Trispace-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: fallback;
}
