.l-head {
  background: var(--full-black);
  height: 100vh;
  position: relative;
}

.l-square {
  background: var(--dark-grey);
  position: relative;
  padding-bottom: 30px;
  z-index: 2;
}

@media (min-width: 678px) {
  .l-no-padding {
    padding: 0;
  }

  .l-square {
    padding-bottom: 100px;
  }
}
